@use "../../../base/src/scss/mixins" as oe;

.read-more {
  text-decoration: none;
  font-size: var(--font-size--small);
  font-family: var(--font-family--default);
  line-height: var(--line-height--2xsnug);
  text-transform: uppercase;
  font-weight: var(--font-weight--bold);
  position: relative;
  display: inline-block;
  padding-right: oe.rem(0.6);

  &__chevron {
    position: absolute;
    font-size: oe.rem(1);
    margin-top: oe.rem(.2);
  }


  &__text {
    margin-right: oe.rem(.4);
  }

  &--small {
    font-size: var(--font-size--3xsmall);
    .read-more__chevron {
      margin-top: oe.rem(0.05);
    }
  }

  &--reverse {
    color: var(--pa-link-light);

    &:focus-visible {
      outline-color: var(--white);
    }
  }


}
