@use "../../../base/src/scss/mixins" as oe;

.quote {
  color: var(--text-color);

  &__wrapper {
    display: flex;
    gap: 2.5%;
    align-items: center;
  }

  &__headshot {
    max-width: oe.rem(20);
    flex: 0 1 25%;
    align-self: flex-start;

    @include oe.bp(s) {
      flex: 0 1 33.333%;
    }

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__figure {
    flex: 1 1 calc(100% - 25%);

    @include oe.bp(s) {
      flex: 1 1 calc(100% - 33.333%);
    }
  }

  &__after {
    margin-left: oe.rem(2.8);
    margin-top: var(--text-element-vertical-space--small);

    @include oe.bp(s) {
      margin-top: var(--text-element-vertical-space--default);
    }
  }
}
