@use "../../../base/src/scss/mixins" as oe;

/**
 * Contains styles for the announcement block.
 */
.announcement {
  position: relative;

  // Styles for the expanded announcement content.
  &__expanded {
    display: flex;
    max-width: oe.rem(119);
    margin: auto;
    padding: oe.rem(3) oe.rem(2);
  }

  &__inner {
    margin-right: oe.rem(4.5);
    width: 100%;
    // Stop text from wrapping around the icon.
    @include oe.bp(xs) {
      display: flex;
    }
  }

  // The icon that appears in the expanded content area.
  &__icon {
    border-radius: 50%;
    float: left;
    width: oe.rem(4.2);
    height: oe.rem(4.2);
    margin-right: oe.rem(1);
    display: flex;
    align-items: center;
    text-align: center;
    .sprite {
      margin: 0 auto;
      font-size: var(--font-size--2xlarge);
    }
    @include oe.bp(xs) {
      float: none;
      flex-shrink: 0;
      margin: 0 oe.rem(2) auto 0;
      width: oe.rem(6.2);
      height: oe.rem(6.2);
      .sprite {
        font-size: oe.rem(3.6);
      }
    }
    @include oe.bp(m) {
      width: oe.rem(7.4);
      height: oe.rem(7.4);
      .sprite {
        font-size: var(--font-size--4xlarge);
      }
    }

  }

  // The WYSIWYG content that appears in the expanded content area.
  &__content {
    margin: auto 0;
    flex: 1;

    p {
      line-height: oe.rem(2.4);

      @include oe.bp(s) {
        font-size: var(--font-size--mlarge);
        line-height: var(--line-height--snug);
      }
    }
  }

  // Common styles for expand + collapse buttons.
  &__expand,
  &__collapse {
    background-color: transparent;
    border: none;
    outline-offset: oe.rem(-0.2);
    color: inherit;

  }

  // Expand button for the announcement.
  &__expand {
    display: flex;
    font-size: var(--font-size--large);
    height: oe.rem(4.5);
    justify-content: center;
    line-height: var(--line-height--2xsnug);
    padding: 0;
    width: 100%;
    transition: background-color var(--transition-duration--medium), border var(--transition-duration--medium), color var(--transition-duration--medium);
    cursor: pointer;
    border-bottom: 0.1rem solid transparent;
    & > * {
      font-weight: var(--font-weight--bold);
      margin: auto 0;
    }

    &-icon {
      margin-right: oe.rem(1);
      position: relative;
      height: oe.rem(2.5);
      width: oe.rem(2.5);
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      font-size: oe.rem(1.6);
      .sprite {
        margin: 0 auto;
      }
    }

    &-after {
      margin-left: oe.rem(1);
      font-size: oe.rem(1.6);
    }

  }

  // Collapse button for the announcement.
  &__collapse {
    font-size: oe.rem(3.5);
    line-height: .7;
    margin: 0;
    padding: 0;
    transition: background-color var(--transition-duration--medium), color var(--transition-duration--medium);
    cursor: pointer;
    position: absolute;
    right: oe.rem(1.4);
    top: oe.rem(2);
    min-width: oe.rem(4.5);
    min-height: oe.rem(4.5);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--beaver-blue);
      color: var(--white);
    }
  }

  &--notice {
    background-color: var(--medium-grey);

    .announcement {
      &__expand {
        &:active,
        &:focus,
        &:hover {
          background-color: var(--white);
          border-bottom: oe.rem(0.1) solid var(--medium-grey);
        }
        &-icon {
          background: var(--beaver-blue);
          color: var(--white);
        }
      }

      &__content {
        --text-color: var(--beaver-blue);
        --link-color: var(--beaver-blue);
      }

      &__icon {
        background: var(--beaver-blue);
        .sprite {
          color: var(--white);
        }
      }
    }
  }

  &--warning {
    background-color: var(--keystone);

    .announcement {
      &__expand {
        &:active,
        &:focus,
        &:hover {
          background-color: var(--invent-orange-light);
        }
        &-icon {
          background: var(--white);
          color: var(--beaver-blue);
        }
      }

      &__content {
        --link-color: var(--nittany-navy);
      }

      &__icon {
        background: var(--white);

        .sprite {
          color: var(--beaver-blue);
        }
      }
    }
  }

  &--emergency {
    background-color: var(--error-red);

    .announcement {
      &__expand, &__collapse {
        color: var(--white);
      }
      &__expand {
        &:active,
        &:focus,
        &:hover {
          background-color: var(--invent-orange);
          color: var(--nittany-navy);
        }
        &-icon {
          background: var(--white);
          color: var(--error-red);
        }
      }

      &__content {
        --link-color: var(--white);
      }

      &__icon {
        background: var(--white);

        .sprite {
          color: var(--error-red);
        }
      }
    }
  }
}
