@use "../../../base/src/scss/mixins" as oe;

.callout {
  color: var(--text-color);
  display: flex;
  padding: oe.rem(4) var(--page-side-padding);

  &--padding-vertical {
    &-xsmall {
      padding-top: oe.rem(2);
      padding-bottom: oe.rem(2);
    }

    &-small {
      padding-top: oe.rem(3);
      padding-bottom: oe.rem(3);
    }

    &-small-percentage {
      padding-top: clamp(oe.rem(.7), 2.9%, oe.rem(3));
      padding-bottom: clamp(oe.rem(.7), 2.9%, oe.rem(3));
    }

    &-medium-percentage {
      padding-top: clamp(oe.rem(1), 5.8%, oe.rem(4));
      padding-bottom: clamp(oe.rem(1), 5.8%, oe.rem(4));
    }

    &-large-percentage {
      padding-top: clamp(oe.rem(1.5), 8.7%, oe.rem(5));
      padding-bottom: clamp(oe.rem(1.5), 8.7%, oe.rem(5));
    }
  }

  &--padding-horizontal {
    &-small-percentage {
      padding-left: clamp(oe.rem(.7), 2.9%, oe.rem(3));
      padding-right: clamp(oe.rem(.7), 2.9%, oe.rem(3));
    }

    &-medium-percentage {
      padding-left: clamp(oe.rem(1), 5.8%, oe.rem(4));
      padding-right: clamp(oe.rem(1), 5.8%, oe.rem(4));
    }

    &-large-percentage {
      padding-left: clamp(oe.rem(1.5), 8.7%, oe.rem(5));
      padding-right: clamp(oe.rem(1.5), 8.7%, oe.rem(5));
    }
  }

  &--white {
    --background-color: var(--white);
    background-color: var(--background-color);
  }

  &--light-grey {
    --background-color: var(--light-grey);
    background-color: var(--background-color);
  }

  &--blue-gradient {
    background: linear-gradient(to right, var(--beaver-blue), var(--nittany-navy));
  }

  &--blue {
    --background-color: var(--beaver-blue);
    background-color: var(--background-color);
  }

  &--shadow {
    &-standard {
      box-shadow: 0 oe.rem(.3) oe.rem(.6) color-mix(in srgb, transparent, var(--nittany-navy) 25%);
    }
  }

  &__content {
    margin: auto;
    max-width: oe.rem(111);
    width: 100%;

    &--narrow {
      max-width: oe.rem(87);
    }
  }
}
