@use "../../../base/src/scss/mixins" as oe;

.icon-list {
  list-style-type: none;
  margin: 0 0 oe.rem(-2) 0;
  padding: 0;

  &--two-col {
    column-count: 2;
    column-width: oe.rem(32);
    column-gap: oe.rem(3);
  }

  &--three-col {
    column-count: 3;
    column-width: oe.rem(21);
    column-gap: oe.rem(3);
  }

  &__item {
    break-inside: avoid;

    padding-bottom: oe.rem(2);
  }

  &__content {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: oe.rem(1.5);
  }

  &__icon {
    color: var(--beaver-blue);

    .sprite {
      width: oe.rem(3);
      height: auto;
      max-height: oe.rem(3);
    }
  }
}
