@use "../../../base/src/scss/mixins" as oe;

.cta-group {
  display: flex;
  min-width: oe.rem(10);

  column-gap: clamp(oe.rem(0.5), 1.25vw, oe.rem(1));

  &--align-right {
    text-align: right;
  }

  &--expand-to-fit {
    width: 100%;
    justify-content: space-between;

    > .cta-block {
      flex: 1 1 auto;
    }
  }
}
