@use "../../../base/src/scss/mixins" as oe;

.cta-group {
  display: flex;
  min-width: oe.rem(10);

  column-gap: clamp(0.5rem, 1.25vw, 1rem);

  &--align-right {
    text-align: right;
  }

  &--expand-to-fit {
    display:flex;
    width:100%;
    justify-content: space-between;

    > .cta-block {
      flex: 1 1 auto;
    }
  }

  //& > .cta-block:not(:last-of-type) {
  //  margin-right: clamp(oe.rem(.5), 1.25vw, oe.rem(1));
  //}
}
