@use "../../../base/src/scss/mixins" as oe;

.program-tile-grid {
  --program-tile-grid-gap: #{oe.rem(2)};
  display: grid;
  gap: var(--program-tile-grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(clamp(oe.rem(24), calc(33% - oe.rem(2)), 100%), 1fr));

  container-type: inline-size;

  &__item {

    // For container sizes from 50 and 76 rems...
    @container (min-width: #{oe.rem(50)}) and (max-width: #{oe.rem(75.9)}) {

      // Two tiles each taking up 50% minus the gap between.
      flex-basis: calc(50% - var(--program-tile-grid-gap));

      // Collapse first column if the tile in the second column is open.
      &:nth-child(2n + 1):has(+ [data-expanded]) {
        align-self: flex-start;
      }

      // Collapse second column if the tile in the first column is open.
      &:nth-child(2n + 1)[data-expanded] + :nth-child(2n + 2) {
        align-self: flex-start;
      }
    }

    // For container sizes greater than or equal to 76rem.
    @container (min-width: #{oe.rem(76)}) {

      // Collapse first column if the tile in the second column is open.
      &:nth-child(3n + 1):has(+ [data-expanded]) {
        align-self: flex-start;
      }

      // Collapse first column if the tile in the third column is open.
      &:nth-child(3n + 1):has(+ :nth-child(3n + 2) + [data-expanded]) {
        align-self: flex-start;
      }

      // Collapse second column if the tile in the first column is open.
      &:nth-child(3n + 1)[data-expanded] + :nth-child(3n + 2) {
        align-self: flex-start;
      }

      // Collapse second column if the tile in the third column is open.
      &:nth-child(3n + 2):has(+ [data-expanded]) {
        align-self: flex-start;
      }

      // Collapse third column if the tile in the first column is open.
      &:nth-child(3n + 1)[data-expanded] + :nth-child(3n + 2) + :nth-child(3n + 3) {
        align-self: flex-start;
      }

      // Collapse third column if the tile in the second column is open.
      &:nth-child(3n + 1) + :nth-child(3n + 2)[data-expanded] + :nth-child(3n + 3) {
        align-self: flex-start;
      }
    }
  }
}
