:root {
  // Penn State World Campus Colors
  --white: #fff;
  --black: #000;
  --beaver-blue: #1e407c;
  --nittany-navy: #001e44;
  --sky-blue: #009cde;
  --pugh-blue: #96bee6;
  --light-mauve: #ebecf4;
  --light-grey: #f2f3f9;
  --medium-grey: #d8dbea;
  --medium-dark-grey: #687a8d;
  --slate: #314d64;
  --slate-light: #ccdae6;
  --limestone: #a2aaad;
  --keystone: #ffd100;
  --keystone-light: #f9df70;
  --invent-orange: #e98300;
  --invent-orange-light: #fca917;
  --penns-forest: #4a7729;
  --creek: #3ea39e;
  --pa-link: #005fa9;
  --pa-link-light: #cce9ff;
  --futures-calling: #99cc00;
  --error-red: #dd3636;

  // Brand refresh colors
  --text-color--dark: var(--nittany-navy);
  --text-color--slate: var(--slate);
  --text-color--light: var(--white);
  --link-color--dark: var(--pa-link);
  --link-color--light: var(--pa-link-light);

  --text-color--default: var(--text-color--dark);
  --link-color--default: var(--link-color--dark);

  // Non-semantic accents
  --accent-color--dark: var(--sky-blue);
  --accent-color--light: var(--sky-blue);

  // Semantic accents
  --accent-color-semantic--dark: var(--sky-blue);
  --accent-color-semantic--light: var(--sky-blue);

  // Focus indicators
  --focus-indicator-color--light: var(--sky-blue);
  --focus-indicator-color--dark: var(--sky-blue);

}

// Automatically contrasting variables.
:root, [data-light] {
  --link-color: var(--link-color--default);
  --text-color: var(--text-color--default);

  --accent-color: var(--accent-color--dark);

  --accent-color-semantic: var(--accent-color-semantic--dark);

  --focus-indicator-color: var(--focus-indicator-color--dark);

  --background-color: var(--white);
}

[data-dark] {
  --link-color: var(--link-color--light);
  --text-color: var(--text-color--light);

  --accent-color: var(--accent-color--light);

  --accent-color-semantic: var(--accent-color-semantic--light);

  --focus-indicator-color: var(--focus-indicator-color--light);
}
