@use "../../../base/src/scss/mixins" as oe;

.program-tile {

  --program-tile-link-color: var(--link-color);
  --program-tile-operations-background-color: var(--white);

  position: relative;
  display: flex;
  flex-direction: column;
  padding: oe.rem(2.5);
  gap: oe.rem(1.5);
  background-color: var(--white);
  overflow: hidden;
  height: 100%;
  min-width: oe.rem(24);
  box-shadow: oe.rem(.2) oe.rem(.2) oe.rem(.7) 0 color-mix(in srgb, var(--nittany-navy) 70%, transparent);;

  &--dark {
    --program-tile-link-color: var(--white);
    --program-tile-operations-background-color: var(--beaver-blue);
    background-color: var(--pa-link);
    box-shadow: none;
  }

  &__intro {
    display: flex;
    gap: oe.rem(.8);
    line-height: var(--line-height--xsnug);

    &-icon {
      font-size: var(--font-size--msmall);
      color: var(--link-color);
      display: contents;
    }

    &-label {
      font-size: var(--font-size--xsmall);
      color: var(--text-color);
      flex: 1;
    }
  }

  &__link {
    color: var(--program-tile-link-color);
    line-height: var(--line-height--xsnug);
    transition: color var(--transition-duration--default) linear;
    text-decoration: none;

    &:focus-visible, &:hover {
      text-decoration: none;
    }
  }

  // Safari Hack: text decoration does not properly apply to child elements.
  &__subject, &__degree-type {
    transition: text-decoration-color var(--transition-duration--default) linear;
    text-decoration-line: underline;
    text-decoration-thickness: auto;
    text-decoration-style: dotted;
    text-decoration-color: transparent;

    &:is(:hover > *) {
      text-decoration-color: var(--link-color);
    }
  }

  &__subject {
    display: block;
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--bold);
  }

  &__degree-type {
    display: block;
    font-size: var(--font-size--medium);
  }

  &__content {
    color: var(--text-color);
    display: flex;
    margin-bottom: oe.rem(3.6);
    flex-direction: column;
    gap: oe.rem(1);
    font-size: var(--font-size--2xsmall);
    line-height: var(--line-height--snug);
    transition: max-height .2s linear;
    max-height: fit-content;
    interpolate-size: allow-keywords;
    &[inert] {
      max-height: oe.rem(5);
    }

    &:not([inert]) {
      z-index: 1;
    }

    &:focus-visible {
      outline: oe.rem(.2) solid var(--focus-indicator-color);
      outline-offset: oe.rem(.2);
    }
  }

  &__info-bullets {
    display: flex;
    flex-direction: column;
    gap: oe.rem(.5);
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: var(--line-height--xsnug);
  }

  &__info-bullet::before {
    margin-right: oe.rem(.5);
    content: "•";
    color: var(--accent-color);
  }

  &__collapsed-operations,
  &__expanded-operations {
    position: absolute;
    display: flex;
    inset: auto 0 0 0;

    &::before {
      content: "";
      position: absolute;
      inset: oe.rem(-6) 0 100% 0;
      pointer-events: none;
      background: linear-gradient(to top, var(--program-tile-operations-background-color), transparent);
    }
  }

  &__collapsed-operations:not(:has(+ [inert])) {
    display: none;
  }

  &__expanded-operations:is([inert] + *) {
    display: none;
  }

  &__expand,
  &__collapse {
    display: flex;
    gap: oe.rem(.8);
    align-items: center;
    background-color: var(--program-tile-operations-background-color);
    color: var(--text-color);
    font-family: var(--font-family--default);
    border: none;
    padding: oe.rem(1.5) oe.rem(.5) oe.rem(1.5) oe.rem(2.5);
    margin-right: auto;
    cursor: pointer;
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--xsmall);
    line-height: var(--line-height--xsnug);
    flex: 1;
    text-align: left;
    transition: color var(--transition-duration--default) linear, text-decoration-color var(--transition-duration--default) linear;
    text-decoration-line: underline;
    text-decoration-thickness: auto;
    text-decoration-style: dotted;
    text-decoration-color: transparent;
    z-index: 2;

    &:hover {
      color: var(--link-color);
      --program-tile-chevron-color: var(--accent-color-semantic);
      text-decoration-color: var(--link-color);
    }

    &:focus-visible {
      outline: oe.rem(.2) solid var(--focus-indicator-color);
      outline-offset: oe.rem(-.4);
    }
  }

  &__view-degree {
    background-color: var(--program-tile-operations-background-color);
    color: var(--text-color);
    display: flex;
    gap: oe.rem(.8);
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    padding: oe.rem(1.5) oe.rem(2.5) oe.rem(1.5) oe.rem(.5);
    margin-left: auto;
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--xsmall);
    line-height: var(--line-height--xsnug);
    flex: 1;
    transition: color var(--transition-duration--default) linear, text-decoration-color var(--transition-duration--default) linear;
    text-decoration-line: underline;
    text-decoration-thickness: auto;
    text-decoration-style: dotted;
    text-decoration-color: transparent;
    z-index: 2;

    &:focus-visible {
      outline-offset: oe.rem(-.4);
      text-decoration-color: transparent;
    }

    &:hover {
      color: var(--link-color);
      --program-tile-chevron-color: var(--accent-color-semantic);
      text-decoration-color: var(--link-color);
      text-decoration-style: dotted;
      text-decoration-thickness: auto;
      text-decoration-line: underline;
    }
  }

  &__expand-icon,
  &__collapse-icon {
    display: inline-block;
    width: oe.rem(2.1);
    color: var(--program-tile-chevron-color, var(--link-color));
    transition: color var(--transition-duration--default) linear;
  }

  &__view-degree-icon {
    display: inline-block;
    width: oe.rem(1.2);
    color: var(--program-tile-chevron-color, var(--link-color));
    transition: color var(--transition-duration--default) linear;
  }
}
