@use "../../../base/src/scss/mixins" as oe;

.grid {
  container-type: inline-size;
}

.program-tile {
  display: flex;
  flex-direction: column;
  padding-top: oe.rem(2.5);
  background-color: var(--program-tile-content-background-color);
  height: 100%;
  max-height: 100%;
  overflow: hidden;

    @container (min-width: 500px) and (max-width: 759px) {
      // Collapse first column if the tile in the second column is open.
      &:is(:nth-child(2n+1):has(+ :nth-child(2n+2) [data-open]) > *) {
        height: min-content;
      }

      // Collapse second column if the tile in the first column is open.
      &:is(:nth-child(2n+1):has([data-open]) + :nth-child(2n+2) > *) {
        height: min-content;
      }
    }

    // Collapse first column if the tile in the second column is open.
    &:is(:nth-child(3n+1):has(+ :nth-child(3n+2) [data-open]) > *) {
      height: min-content;
    }

    // Collapse first column if the tile in the third column is open.
    &:is(:nth-child(3n+1):has(+ :nth-child(3n+2) + :nth-child(3n+3) [data-open]) > *) {
      height: min-content;
    }

    // Collapse second column if the tile in the first column is open.
    &:is(:nth-child(3n+1):has([data-open]) + :nth-child(3n+2) > *) {
      height: min-content;
    }

    // Collapse second column if the tile in the third column is open.
    &:is(:nth-child(3n+2):has(+ :nth-child(3n+3) [data-open]) > *)  {
      height: min-content;
    }

    // Collapse third column if the tile in the first column is open.
    &:is(:nth-child(3n+1):has([data-open]) + :nth-child(3n+2) + :nth-child(3n+3) > *) {
      height: min-content;
    }

    // Collapse third column if the tile in the second column is open.
    &:is(:nth-child(3n+1) + :nth-child(3n+2):has([data-open]) + :nth-child(3n+3) > *) {
      height: min-content;
    }

  &--light {
    --program-tile-content-background-color: var(--white);
    box-shadow: oe.rem(.2) oe.rem(.2) oe.rem(.7) 0 color-mix(in srgb, var(--nittany-navy) 70%, transparent);
  }

  &--dark {
    --program-tile-link-color: var(--white);
    --program-tile-content-background-color: var(--pa-link);
    --program-tile-operations-background-color: var(--beaver-blue);
  }

  &__intro {
    display: flex;
    margin: 0 oe.rem(2.5) oe.rem(1.5);
    gap: oe.rem(.8);
    line-height: var(--line-height--xsnug);

    &-icon {
      font-size: var(--font-size--msmall);
      color: var(--link-color);
      display: contents;
    }

    &-label {
      font-size: var(--font-size--xsmall);
      color: var(--text-color);
      flex: 1;
    }
  }

  &__link {
    color: var(--program-tile-link-color, var(--link-color));
    margin: 0 oe.rem(2.5) oe.rem(1.5);
    text-decoration-line: underline;
    text-decoration-thickness: auto;
    text-decoration-style: dotted;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--transition-duration--default) linear;
    line-height: var(--line-height--xsnug);

    &:focus-visible {
      text-decoration-color: transparent;
    }

    &:hover {
      text-decoration-color: var(--link-color);
      text-decoration-style: dotted;
      text-decoration-thickness: auto;
    }
  }

  &__subject {
    display: block;
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--bold);
  }

  &__degree-type {
    display: block;
    font-size: var(--font-size--medium);
  }

  &__content {
    color: var(--text-color);
    display: flex;
    margin: 0 oe.rem(2.5) oe.rem(.4) oe.rem(2.5);
    flex-direction: column;
    gap: oe.rem(1);
    font-size: var(--font-size--2xsmall);
    line-height: var(--line-height--snug);
    transition: max-height .2s linear;
    max-height: fit-content;
    interpolate-size: allow-keywords;

    &[inert] {
      max-height: oe.rem(5);
    }

    &:focus-visible {
      outline: oe.rem(.2) solid var(--focus-indicator-color);
      outline-offset: oe.rem(.2);
    }
  }

  &__info-bullets {
    display: flex;
    flex-direction: column;
    gap: oe.rem(.5);
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: var(--line-height--xsnug);
  }

  &__info-bullet::before {
    margin-right: oe.rem(.5);
    content: "•";
    color: var(--accent-color);
  }

  &__collapsed-operations,
  &__expanded-operations {
    background-color: var(--program-tile-operations-background-color, var(--white));
    display: flex;
    position: relative;
    margin-top: auto;
  }

  &__collapsed-operations {
    &::before {
      content: "";
      position: absolute;
      inset: oe.rem(-6) 0 100% 0;
      background: linear-gradient(
        to top,
        var(--program-tile-operations-background-color, var(--white)),
        transparent
      );
    }
  }

  &__collapsed-operations {
    order: 2;

    &:not(:has(+ [inert])) {
      display: none;
    }
  }

  &__expanded-operations:is([inert] + *) {
    display: none;
  }

  &__expand,
  &__collapse {
    display: flex;
    gap: oe.rem(.8);
    align-items: center;
    background: transparent;
    color: var(--text-color);
    font-family: var(--font-family--default);
    border: none;
    padding: oe.rem(1.5) oe.rem(.5) oe.rem(1.5) oe.rem(2.5);
    margin-right: auto;
    cursor: pointer;
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--xsmall);
    line-height: var(--line-height--xsnug);
    flex: 1;
    text-align: left;
    transition: color var(--transition-duration--default) linear;

    &:hover {
      color: var(--link-color);
      --program-tile-chevron-color: var(--accent-color-semantic);
    }

    &:focus-visible {
      outline: oe.rem(.2) solid var(--focus-indicator-color);
      outline-offset: oe.rem(-.4);
    }
  }

  &__view-degree {
    color: var(--text-color);
    display: flex;
    gap: oe.rem(.8);
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    padding: oe.rem(1.5) oe.rem(2.5) oe.rem(1.5) oe.rem(.5);
    margin-left: auto;
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--xsmall);
    line-height: var(--line-height--xsnug);
    text-decoration: none;
    flex: 1;
    transition: color var(--transition-duration--default) linear;

    &:hover,
    &:focus-visible {
      text-decoration: none;
    }

    &:hover {
      color: var(--link-color);
      --program-tile-chevron-color: var(--accent-color-semantic);
    }

    &:focus-visible {
      outline-offset: oe.rem(-.4);
    }
  }

  &__expand-icon,
  &__collapse-icon {
    display: inline-block;
    width: oe.rem(2.1);
    color: var(--program-tile-chevron-color, var(--link-color));
    transition: color var(--transition-duration--default) linear;
  }

  &__view-degree-icon {
    display: inline-block;
    width: oe.rem(1.2);
    color: var(--program-tile-chevron-color, var(--link-color));
    transition: color var(--transition-duration--default) linear;
  }
}
