@use "../../../base/src/scss/mixins" as oe;

.bg {
  &.bg--hub-geometric-topright {
    & > .bg__sprites > .bg__sprite .sprite {
      color: var(--white);
      position: absolute;
      height: auto;
      width: oe.rem(60);
      right: oe.rem(-44);
      top: oe.rem(-33.5);
      display: none; // @TODO: When container query support is more mainstream, simplify this.

      //noinspection CssUnknownProperty
      @supports (container-type: inline-size ) {
        display: initial;
      }
    }

    &.bg--beaver-blue > .bg__sprites > .bg__sprite .sprite {
      opacity: .30;
      color: var(--sky-blue);
    }
  }

  &.bg--hub-geometric-topright.bg--narrow > .bg__sprites > .bg__sprite .sprite {
    @supports (container-type: inline-size ) {

      //noinspection CssInvalidAtRule
      @container (min-width: 950px) {
        width: oe.rem(67);
        top: oe.rem(-43.5);
        left: calc(50% + oe.rem(31.9));
        right: initial;
      }
    }
  }

  &.bg--hub-geometric-topright:not(.bg--narrow) > .bg__sprites > .bg__sprite .sprite {
    //noinspection CssUnknownProperty
    @supports (container-type: inline-size ) {

      //noinspection CssInvalidAtRule
      @container (min-width: 1024px) {
        width: oe.rem(67);
        left: calc(50% + oe.rem(39.5));
        right: initial;
        top: oe.rem(-43.5);
      }
    }
  }
}
