@use "../../../base/src/scss/mixins" as oe;

.bg {
  &.bg--shield-bottomright {
    & > .bg__sprites > .bg__sprite {
      position: absolute;
      width: oe.rem(8.6);
      height: oe.rem(16.2);
      max-height: 100%;
      right: 0;
      bottom: 0;
      overflow:hidden;

      .sprite {
        position: absolute;
        height: auto;
        width: oe.rem(72.2);
        right: oe.rem(-6.9);
        bottom: oe.rem(-25.3);
      }
    }

    &.bg--beaver-blue > .bg__sprites > .bg__sprite .sprite {
      opacity: .30;
      color: var(--sky-blue);
    }
  }
}
