:root {
  --a11y-select-option-active-descendant-outline: .2rem solid #009cde;
  --a11y-select-option-border: .2rem solid color-mix(in srgb, #96bee6, #fff 60%);
  --a11y-select-option-outline-offset: -.6rem;
  --a11y-select-option-padding: 1rem 4rem 1rem 1rem;
}

.a11y-select__combobox {
  background: var(--a11y-select-combobox-background, color-mix(in srgb, #96bee6, #fff 60%));
  border-radius: var(--a11y-select-combobox-border-radius, .3125rem);
  box-shadow: var(--a11y-select-combobox-box-shadow, color-mix(in srgb, #314d64 55%, #fff) 0 .0625rem 0);
}

.a11y-select__combobox:focus,
.a11y-select__combobox:focus-visible {
  outline: none;
}

.a11y-select__combobox:focus-visible .a11y-select__value {
  border: var(--a11y-select-value-focus-visible-border, .125rem solid #009cde);
}

.a11y-select__value {
  cursor: pointer;

  background: var(--a11y-select-value-background, url('data:image/svg+xml,<svg viewBox="0 0 13.18246 8" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M 6.0789337,7.7878096 0.21221033,1.9210554 c -0.28294711,-0.2829465 -0.28294711,-0.7416758 0,-1.02459275 L 0.89647062,0.21220341 C 1.1789345,-0.07026083 1.636726,-0.0708042 1.919855,0.21099579 L 6.5912534,4.8605021 11.2626,0.21099586 c 0.283139,-0.28180004 0.740934,-0.28125667 1.023377,0.001208 l 0.68427,0.68425917 c 0.282951,0.28294707 0.282951,0.74167527 0,1.02459277 l -5.8666887,5.866754 c -0.2829423,0.2829205 -0.7416787,0.2829205 -1.0246246,-2e-7 z" style="stroke-width:0.0301861" /></svg>') no-repeat calc(100% - .8rem) center / auto 0.8rem);
  padding: var(--a11y-select-value-padding, 1rem 2.8rem 1rem .625rem);
  border: var(--a11y-select-value-border, .125rem solid transparent);
  border-radius: var(--a11y-select-value-border-radius, .3125rem);
}

.a11y-select__listbox {
  display: none;
  position: relative;
  overflow: auto;

  max-height: var(--a11y-select-listbox-max-height, min(39rem,50vh - 6rem));
  padding: var(--a11y-select-listbox-padding, .25rem 1rem 1rem 1rem);
}

.a11y-select [aria-expanded="true"] > [role="listbox"] {
  display: block;
}

.a11y-select__group-accessible-name {
  font-weight: bold;
  padding: var(--a11y-select-group-accessible-name-padding, .3125rem .3125rem .3125rem 0);
}

.a11y-select__option {
  cursor: pointer;
  position: relative;

  outline-offset: var(--a11y-select-option-outline-offset, -.375rem);
  border-radius: var(--a11y-select-option-border-radius, .3125rem);
  padding: var(--a11y-select-option-padding, .625rem 3.3125rem .625rem .625rem);
  background-color: var(--a11y-select-option-background, color-mix(in srgb, #96bee6, #fff 60%));
  color: var(--a11y-select-option-color, #001e44);
  border: var(--a11y-select-option-border, .125rem solid color-mix(in srgb, #96bee6, #fff 60%));
}

.a11y-select__group[aria-disabled],
.a11y-select__group[aria-disabled] .a11y-select__option,
.a11y-select__option[aria-disabled] {
  cursor: not-allowed;

  background-color: var(--a11y-select-option-disabled-background, #ccc);
  color: var(--a11y-select-option-disabled-color, #000);

}

.a11y-select__option--selected {
  background-color: var(--a11y-select-option-selected-background, #1e407c);
  color: var(--a11y-select-option-selected-color, #fff);
}

.a11y-select__option--selected {
  mask: var(--a11y-select-option-selected-mask, url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>') no-repeat calc(100% - 1rem) center exclude, linear-gradient(#000, #000));
}

.a11y-select__option--active-descendant {
  outline: var(--a11y-select-option-active-descendant-outline, .125rem solid #009cde);
}

.a11y-select__listbox > .a11y-select__option:not([aria-disabled]):hover,
.a11y-select__listbox > .a11y-select__group:not([aria-disabled]) .a11y-select__option:not([aria-disabled]):hover {
  background-color: var(--a11y-select-option-hovered-background, #001e44);
  color: var(--a11y-select-option-hovered-color, #fff);
}
