@use "../../../base/src/scss/mixins" as oe;

.parallel-navigation {
  &__intro {
    margin-bottom: oe.rem(.8);

    @include oe.bp(m) {
      margin-bottom: oe.rem(1.5);
    }
  }

  &__heading {
    margin-bottom: oe.rem(.8);
  }

  &__text {
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--regular);
    line-height: var(--line-height--medium);
  }

  &__list {
    margin: 0;
    padding: 0;

    &--two-col {
      column-count: 2;
      column-gap: oe.rem(2);
      column-width: oe.rem(29);
    }

    &--three-col {
      column-count: 3;
      column-gap: oe.rem(2);
      column-width: oe.rem(27);
    }
  }

  &__item {
    border-bottom: oe.rem(.1) solid var(--medium-grey);
    display: inline-block;
    list-style-type: none;
    padding: oe.rem(.4) 0;
    width: 100%;
    margin: 0;
    &::before {
      display: none;
    }
  }
}
