@use "../../../base/src/scss/mixins" as oe;

.cards-list {
  &__featured {
    display: flex;
    flex-flow: column wrap;
    gap: oe.rem(2) 2%;

    &--2,
    &--4 {
      @include oe.bp(xs) {
        flex-direction: row;

        .cards-list__card {
          max-width: 49%;
        }
      }
    }

    &--3 {
      @include oe.bp(s) {
        flex-direction: row;

        .cards-list__card {
          max-width: calc(96% / 3);
        }
      }
    }

    &--4 {
      @include oe.bp(m) {
        .cards-list__card {
          max-width: 23.5%;
        }
      }
    }

    & + .cards-list__overflow {
      margin-top: oe.rem(3);
    }
  }

  &__overflow-cards {
    display: grid;
    gap: oe.rem(.5);
  }
}
