@use "../../../base/src/scss/mixins" as oe;

.layout-four-col {
  flex-direction: column;

  @include oe.bp(xs) {
    flex-direction: row;

    & > * {
      --region-weight: .5;
    }
  }

  @include oe.bp(m) {
    & > * {
      --region-weight: .25;
    }
  }
}
