@use "../../../base/src/scss/mixins" as oe;

.intro-form {
  min-width: oe.rem(20);
  position: relative;
  padding: oe.rem(3) 0;

  &__geometrics {
    position: absolute;
    inset: 0;
    overflow: hidden;

    &--light-grey {
      background-color: var(--light-grey);

      .sprite {
        color: var(--white);
      }
    }

    &--beaver-blue {
      background-color: var(--beaver-blue);

      .sprite {
        color: var(--sky-blue);
        opacity: .3;
      }
    }

    .sprite {
      position: absolute;
      height: auto;
      width: oe.rem(60);

      @include oe.bp(m) {
        width: oe.rem(67);
      }
    }
  }

  &__sprite:nth-child(2) .sprite {
    top: oe.rem(-36.6);
    right: calc(50% + oe.rem(30));
  }

  &__sprite:nth-child(3) .sprite {
    bottom: oe.rem(-39);
    right: oe.rem(-33);

    @include oe.bp(m) {
      bottom: oe.rem(-41);
      left: calc(50% + oe.rem(31.9));
      right: unset;
    }
  }

  &__container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: oe.rem(3);

    @include oe.bp(s) {
      flex-direction: row;
      max-width: oe.rem(97);
      padding: 0 oe.rem(4);
    }
  }

  &__first {
    background-color: var(--nittany-navy);
    position: relative;

    margin-top: oe.rem(-3);

    @include oe.bp(s) {
      border-top: oe.rem(.6) solid var(--sky-blue);
      box-shadow: oe.rem(.1) oe.rem(.2) color-mix(in srgb, var(--nittany-navy) 40%, transparent);
      flex: 1;
      height: fit-content;
      margin-top: 0;
      margin-bottom: oe.rem(1);
    }
  }

  &__image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: calc(100% - oe.rem(7.5)) 0 0 0;
      background: linear-gradient(to bottom, transparent, var(--nittany-navy));
    }

    img {
      aspect-ratio: 16/7;
      width: 100%;
    }
  }

  &__intro {
    padding: oe.rem(2.5) oe.rem(2);

    @include oe.bp(xs) {
      padding: oe.rem(3) oe.rem(4);
    }

    @include oe.bp(s) {
      padding: oe.rem(3) oe.rem(2)
    }
  }

  &__image + &__intro {
    padding-top: oe.rem(0);
  }

  &__description {
    font-size: var(--font-size--large);
    line-height: var(--line-height--snug);
  }

  &__second {
    padding: 0 oe.rem(2) oe.rem(1) oe.rem(2);

    @include oe.bp(xs) {
      padding: 0 oe.rem(4) oe.rem(1) oe.rem(4);
    }

    @include oe.bp(s) {
      padding: 0;
      flex: 1;
    }
  }
}
