@use "../../../base/src/scss/mixins" as oe;

.tabs {
  position: relative;

  &__intro {
    margin-bottom: oe.rem(3);
  }

  &__list {
    /* @TODO: Replace with gap when flex-gap is available. */
    margin-left: oe.rem(-.4);
    margin-right: oe.rem(-.4);
    margin-bottom: oe.rem(3);

    @include oe.bp(xs) {
      margin-bottom: oe.rem(4);
    }
    @include oe.bp(s) {
      margin-left: oe.rem(-.45);
      margin-right: oe.rem(-.45);
    }

    @include oe.bp(m) {
      margin-bottom: oe.rem(5);
    }

    @include oe.bp(xl) {
      margin-left: oe.rem(-.5);
      margin-right: oe.rem(-.5);
    }
  }

  &__panels {
    position: relative;
  }

  &__panel {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    top: 0;

    &--active {
      position: relative;
      visibility: visible;
      opacity: 1;
      height: auto;
      overflow: visible;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
      &::before {
        content: '';
        inset: 0 100% 0 0;
        position: absolute;
        border-left: oe.rem(.4) solid var(--focus-indicator-color);
        left: oe.rem(-1);

        @include oe.bp(xs) {
          margin-left: oe.rem(-2);
        }
      }
    }
  }
}
